# Mectov Linux GRUB Configuration

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ntfs
insmod ntfscomp
insmod exfat
insmod udf

insmod search_fs_uuid
insmod search_fs_file
insmod search_label

insmod all_video
insmod font

set default="mectov"
set timeout=5
set timeout_style=menu

if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod gfxmenu
    insmod png
    set gfxmode="auto"
    set gfxpayload=keep
    terminal_input gfxterm
    terminal_output gfxterm
fi

menuentry "Mectov Linux" --class arch --class os --id 'mectov' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "Mectov Linux (open-source drivers)" --class arch --class os --id 'mectov-oss' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G module_blacklist=nvidia,nvidia_modeset,nvidia_uvm,nvidia_drm
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

menuentry "Mectov Linux (copy to RAM)" --class arch --class os --id 'mectov-ram' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-cachyos archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% copytoram cow_spacesize=10G
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-cachyos.img
}

if [ "${grub_platform}" == 'efi' ]; then
    if [ "${grub_cpu}" == 'x86_64' ]; then
        menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
            fwsetup
        }
    fi
fi

menuentry 'System shutdown' --class shutdown --id 'shutdown' {
    echo "System shutting down..."
    halt
}

menuentry 'System restart' --class reboot --id 'reboot' {
    echo "System rebooting..."
    reboot
}
